
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:blanchedalmond ;
}
.header,.phone,.details{
    background:rgb(157, 141, 141);
    padding:20px;
    margin:20px;
    width:100%;
    max-width:600px;
    box-shadow:0 0 10px rgba(0,0,0,0,1);
}
.header h1{
    margin:0;
    font-size:zeu;
    text-align:center;
    color:pink;
}
.photo img{
    display:block;
    margin:0 auto;
    max-width:100%;
}
.details{
    font-size:1em;
    color: rgb(165, 151, 42);
    background-color: rgb(25, 0, 139);
}
